/* --- 
Add To Cart Button (Not Selected) Styles
1. Add to cart button (not selected)
2. Add to cart button (not selected) content
3. Shopping cart icon
--- */

/* 1. Add to cart button (not selected) */

.add-to-cart-button.not-selected {
    animation: border-visibility .5s;
    
}

.add-to-cart-button:hover.not-selected {
    border-color: var(--red);
}

@keyframes border-visibility {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* 2. Add to cart button (not selected) content */

.add-to-cart-button-not-selected {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

/* 3. Shopping cart icon */

.shopping-cart-icon {
    width: 20px;
    animation: icon-visibility .5s;
}

@keyframes icon-visibility {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}