/* --- 
Shopping Cart Item Styles
1. Shopping cart item
2. Shopping cart item in order confirmation modal
3. Item thumbnail
4. Item summary
5. Item summary in order confirmation modal
6. Price calculation
7. Remove item from shopping cart button
--- */

/* 1. Shopping cart item */

.shopping-cart-item {
    width: 100%;
    padding: 16px 0 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--rose-100);
}

/* 2. Shopping cart item in order confirmation modal */

.order-confirmation .shopping-cart-item {
    padding: 16px 0;
    justify-content: unset;
}

/* 3. Item thumbnail */

.order-confirmation-modal .shopping-cart-item img {
    margin-right: 16px;
    border-radius: 4px;
}

/* 4. Item summary */

.item-summary {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* 5. Item summary in order confirmation modal */

.order-confirmation-modal .item-summary {
    margin-right: auto;
}

/* 6. Price calculation */

.item-summary .price-calculation {
    display: flex;
    gap: 8px;
}

/* 7. Remove item from shopping cart button */

.remove-item-button {
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-color: var(--rose-400);
    border-radius: 50%;
    background-color: transparent;
    transition: border-color .5s;
}

.remove-item-button:hover {
    cursor: pointer;
    border-color: var(--rose-900);
}

.remove-item-button svg path {
    fill: var(--rose-400);
    transition: fill .5s;
}

.remove-item-button:hover svg path {
    fill: var(--rose-900);
}