/* --- 
Change Quantity Button Styles
1. Change quantity button
--- */

/* 1. Change quantity button */

.change-quantity-button {
    width: 20px;
    height: 20px;
    padding: 4px;
    border: 1px solid var(--white);
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}