/* --- 
Add To Cart Button Styles
1. Add to cart button
--- */

/* 1. Add to cart button */
.add-to-cart-button {
    width: 160px;
    height: 44px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-color: var(--rose-400);
    border-radius: 999px;
    background-color: var(--white);
    transition: border-color .5s, background-color .5s;
}