.order-confirmation-modal-header {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.order-confirmation-modal-header hgroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
}