.remove-item-button {
    width: 20px;
    height: 20px;
    border: 1px solid var(--rose-400);
    border-radius: 50%;
    background-color: transparent;
}

.remove-item-button:hover {
    cursor: pointer;
    border: 1px solid var(--rose-900);
}

.remove-item-button svg path {
    fill: var(--rose-400);
}

.remove-item-button:hover svg path {
    fill: var(--rose-900);
}