/* --- 
Product Card Styles
1. Product card
2. Header
3. Product image
4. Product description
--- */

/* 1. Product card */

.product-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

@media screen and (min-width: 768px) {
    .product-card {
        max-width: 213px;
    }
}

@media screen and (min-width: 1440px) {
    .product-card {
        max-width: 251px;
    }
}

/* 2. Header */

.product-card header {
    display: flex;
    flex-direction: column;
    gap: 38px;
}

.product-card header .wrapper {
    position: relative;
}

/* 3. Product image */

.product-card .product-image {
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform .3s;
}

.product-card:hover .product-image {
    transform: scale(1.05);
}

/* 4. Product description */

.product-card .product-description {
    display: flex;
    flex-direction: column;
    gap: 4px;
}