.order-confirmation-modal {
    width: 100%;
    max-height: 95%;
    padding: 40px 24px;
    position: fixed;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    overflow-y: auto;
    background-color: var(--white);
    border-radius: 12px;
}

@media screen and (min-width: 768px) {
    .order-confirmation-modal {
        width: 89.6%;
        padding: 40px;
    }
}

@media screen and (min-width: 1440px) {
    .order-confirmation-modal {
        width: 41.1%
    }
}

.order-confirmation-modal::-webkit-scrollbar {
    display: none;
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    background: rgba(0, 0, 0, 0.50);
}