.order-confirmation-modal {
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    padding: 40px 24px;
    z-index: 1000;
    border-radius: 12px;
}

@media screen and (min-width: 768px) {
    .order-confirmation-modal {
        width: 89.6%;
        padding: 40px;
    }
}

@media screen and (min-width: 1440px) {
    .order-confirmation-modal {
        width: 41.1%
    }
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.50);
    z-index: 1000;
}