.add-to-cart-button.selected {
    border: none;
    background-color: var(--red);
}

.add-to-cart-button-selected {
    width: 136px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}