/* --- 
Shopping Cart Is Empty Message Styles
1. Shopping cart is empty message
--- */

/* 1. Shopping cart is empty message */

.shopping-cart-is-empty-message {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}