/* --- 
Page Wrapper Styles
1. Page wrapper
--- */

/* 1. Page wrapper */

.page-wrapper {
    width: 87.2%;
    max-width: 1500px;
    margin: 24px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 32px;
}

@media screen and (min-width: 768px) {
    .page-wrapper {
        width: 89.6%;
        margin: 40px auto;
    }
}

@media screen and (min-width: 1440px) {
    .page-wrapper {
        width: 84.4%;
        margin: 88px auto;
        justify-content: space-between;
    }
}